<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Dashboard layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<dashboard-layout *ngIf="layout==='dashboard'"></dashboard-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Editor layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<editor-layout *ngIf="layout==='editor'"></editor-layout>